/* ****************** Custom Properties *******************/
:root {
    --first-color: rgb(217, 0, 98);
    --first-alpha-color: rgba(217, 0, 98, 0.75);

    --second-color: rgb(20, 25, 45);
    --second-alpha-color: rgba(20, 25, 45, 0.75);

    --third-color: rgb(80, 20, 100);
    --third-alpha-color: rgba(80, 20, 100, 0.75);

    --link-color: rgb(80, 158, 227);

    --bg-color: rgb(245, 245, 245);
    --bg-alpha-color: rgba(245, 245, 245, 0.75);
}

/* ****************** Reset Style *******************/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ****************** Bootstrap Style *******************/
.navbar .navbar-brand img{
    width: auto;
    height: 3rem;
}

.bg-dark {
    background-color: var(--second-color) !important;
}

.collapse {
    justify-content: right;
}

.nav-item:hover {
    background-color: var(--first-alpha-color);
}

.nav-link {
    color: var(--first-color);
    font-weight: bold;
    letter-spacing: 1px;
    margin-left: .5rem;
}

.navbar-toggler:hover {
    color: var(--first-alpha-color);
}

.btn {
    background-color: var(--second-color);
    border: none;
}

.btn:hover {
    background-color: var(--first-color
    );
}

.visually-hidden {
    background-color: aqua !important;
}

/* ****************** My Style *******************/
.footer_navbar {
    list-style: none;
}

.bi {
    color: var(--first-alpha-color);
    transition: all .2s ease;
}

.bi:hover {
    color: var(--bs-white);
}

.bg-gradient-blue-green {
  background-color: rgba(83, 184, 152, 1);
  background-image: linear-gradient(
    135deg,
    rgba(47, 145, 224, 0.91),
    rgba(7, 31, 51, 0.97) 79%
  );

  background-image: linear-gradient(
    131deg,
    rgba(28, 118, 173, 0.92),
    rgba(83, 184, 152, 1)
  );
}

.gb-thir-color {
    background-color: var(--third-color);
}

.single-page-content {
    background-image: url(../img/site-singlepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .3;
}

@media (min-width: 576px) {  }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }